.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(71,35,217);
    background: linear-gradient(138deg, rgba(71,35,217,1) 0%, rgba(122,99,217,1) 50%, rgba(175,165,217,1) 100%);
}

.title {
    color: white;
}

#btn-password {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.change-password {
    margin-top: 20vh;
}

.btn-primary {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}
