<div class="background">
    <div class="container text-center change-password">
        <div class="row justify-content-md-center">
            <div class="col-md-9 col-lg-8 mx-auto">
                <h1 class="text-center title">Change Password</h1>
                <form [formGroup]="changePasswordForm" (submit)="submitChangePasswordForm()">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">?</span>
                        <input type="text" class="form-control" placeholder="Password" aria-label="password" required>
                    </div>
                    <div class="d-grid align-items-center text-center"> <!-- Added text-center class here -->
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit" name="send">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

